.dc-square {
    height: 100px;
    width: 100px;
    background-color: #1389b2;
    font-weight: 500;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.dc-fizz {
 background-color: #0cd6a1;
}

.dc-buzz {
    background-color: #ffd166;
}

.dc-fizzbuzz {
    background-color: #f0466f;
}